<!DOCTYPE html>
<html>
<head>
  <title>Yorchauth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "yorchauth/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
