<main>
  <h1>Welcome to example.com, <%= @user.email %></h1>
  <p>
    You have successfully signed up to example.com.
  </p>
  <p>
    Please, click on the next link in order to confirm your email account. <br>
    <%= @url %>
    We are very happy to have you with us!
  </p>
  <p>
    Thanks for joining and have a great day!
  </p>
</main>
